p{
    color:white;
    font-family: 'Times New Roman', Times, serif;


}
.right{
text-align: center;
margin: 10x;
border-style: groove

}

body{

background-color:black;

}

h1{

color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

ul{

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

h4{

    color: white;

}